/* estilo general de la app */

body{

background:#111;
color:white;
font-family:Arial;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

height:100vh;

}

/* boton principal */

button{

background:#4CAF50;
color:white;

font-size:24px;

border:none;

padding:25px;

border-radius:10px;

}
